* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320;
}

body {
	line-height: 1;
	font-family: "";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
.titl {
	font-size: 35px;
	color: green;
	letter-spacing: 0.1em;
	line-height: 2;
	text-align: center;
	padding-top: 1em;
}

.main {
	padding: 50px 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.button {
	font-size: 30px;
	color: rgb(63, 55, 55);
	border: 1px solid green;
	padding: 10px 20px;
	margin-bottom: 50px;
	transition: all 0.3s ease 0s;
	background-color: rgba(0, 128, 0, 0.1);
}
.button:hover {
	background-color: rgba(0, 128, 0, 0.3);
}
.button:active {
	background-color: rgba(238, 194, 194, 0.5);
}
.result {
	font-size: 30px;
	color: rgb(63, 55, 55);
	border: 1px solid green;
	padding: 25px 20px;
	min-width: 300px;
	transition: all 0.3s ease 0s;
   background-color: rgba(238, 194, 194, 0.5);

	
	min-height: 100px;
	width: 100%;
	text-align: center;
}
.result_done  {
   background-color: rgba(0, 128, 0, 0.2);

}

.form-my {
	text-align: center;
	margin-bottom: 40px;
}
.form-test {
	text-align: center;
	margin-bottom: 40px;
}
.form-test__input {
	min-width: 300px;
	font-size: 25px;
	border: 1px solid #000000;
	padding: 5px;
	height: 100%;
}
.form-test__label {
	display: inline-block;
	font-size: 25px;
	height: 40px;
	position: relative;
	
}

