//====================================================================================================

//====================================================================================================

//Burger

.menu {
	// .menu__list

	&__list {
		@media (min-width: $md3+px) {
			display: flex;
			align-items: center;
		}
	}
}

@media (max-width: $md3+px) {
	.header {
	}
	.header__content {
	}
	.header__logo {
	}
	.header__menu {
	}

	.menu__icon {
		position: relative;
		z-index: 5;
		display: block;
		width: 30px;
		height: 18px;
		cursor: pointer;
		&::before,
		&::after,
		span {
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			transition: all 0.3s ease 0s;
			background-color: #222222;
		}
		&::before {
			content: "";
			top: 0;
		}
		span {
			bottom: 50%;
			transform: scale(1) translate(0, 50%);
		}
		&::after {
			content: "";
			bottom: 0;
		}
		&._active {
			span {
				transform: scale(0);
			}
			&::before {
				top: 50%;
				transform: translate(0, -50%) rotate(45deg);
			}
			&::after {
				bottom: 50%;
				transform: translate(0, 50%) rotate(-45deg);
			}
		}
	}
	.menu__body {
		position: fixed;
		top: 0px;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.76);
		overflow: auto;
		transition: all 0.3s ease 0s;
		&._active {
			left: 0;
			// цвет плашки
			&::after {
				background-color: rgba(0, 0, 0, 0.76);
			}
		}
		//=========== плашка ======
		&::after {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			//height: px;
		}
	}

	.menu__list {
		padding: 100px 0px 0px 0px;
	}
	.menu__link {
	}
}
