//====================================================================================================
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.ibg {
	background-position: 40% 0;
	background-repeat: no-repeat;
	background-size: cover;
	picture {
		display: none;
	}
}
._ibg-position {
	background-position: 0 100%;
}

// для Internet Explorer ======================================
// html.ie {
// 	._ibg {
// 		background-position: center;
// 		background-size: cover;
// 		background-repeat: no-repeat;
// 	}
// 	._ibg img {
// 		width: 0;
// 		height: 0;
// 		opacity: 0;
// 		visibility: hidden;
// 	}
// }
//====================================================================================================
.point-line {
	position: relative;
	&::after {
		display: inline;
		content: "........................................................................................................................................................................................................................................................................................................................................................................";
		white-space: nowrap;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 3px;
	}
}

//====== .checkbox  ==============================================================================================

.checkbox {
	display: inline-block;

	// .checkbox__input

	&__input {
		position: absolute;
		z-index: -1;
		opacity: 0;
		/* стили при наведении курсора на checkbox */
		&:not(:disabled):not(:checked) + .checkbox__text:hover {
			//text-decoration: underline;
			&::before {
				box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(241, 174, 17, 0.385);
			}
		}

		/* стили для активного состояния чекбокса (при нажатии на него) */
		&:not(:disabled):active + .checkbox__text::before {
			background-color: rgba(0, 120, 38, 0.2);
		}

		/* стили для чекбокса в состоянии checked */
		&:checked + .checkbox__text::after {
			opacity: 1;
		}

		/* стили для чекбокса, при наведении курсора и в состоянии checked */
		& + .checkbox__text:hover::before {
			box-shadow: 0 0 0 0.2rem rgba(0, 120, 38, 0.2);
		}
	}

	// .checkbox__text

	&__text {
		position: relative;
		padding-left: 1.5em;
		cursor: pointer;
		// &:hover {
		// 	text-decoration: underline;
		// }
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			border: 1px solid #007825;
			border-radius: 50%;
			overflow: visible;
		}
		&::after {
			content: "";
			position: absolute;
			top: -2px;
			left: 3.5px;
			width: 1em;
			height: 1em;
			background: url("../img/check.svg") 0 0 no-repeat;
			opacity: 0;
		}
	}
}

//=========  тряска при hover ========================================

._shaking:hover {
	animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
}
@keyframes trambling-animation {
	0%,
	50%,
	100% {
		transform: rotate(0deg);
	}
	10%,
	30% {
		transform: rotate(-10deg);
	}
	20%,
	40% {
		transform: rotate(10deg);
	}
}

//?====================================================================================================
%graystyle {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
%graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}
//==================================================================================================
//?= СЛАЙДЕР ===================================================================================================

._swiper {
	overflow: hidden;
	//.swiper-wrapper
	.swiper-wrapper {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
	}
	&.swiper-container-vertical {
		.swiper-wrapper {
			flex-direction: column;
		}
	}
	// &.swiper-container-autoheight {
	// 	.swiper-wrapper {
	// 		align-items: flex-start;
	// 	}
	// }

	// мультирядность
	&.swiper-container-multirow > .swiper-wrapper {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
		flex-wrap: wrap;
	}
	&.swiper-container-multirow-column > .swiper-wrapper {
		flex-wrap: wrap;
		flex-direction: column;
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
	}
}
.swiper-container-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-container-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}
//?=== ТРЕУГОЛЬНИК ВОЗЛЕ МЕНЮ (К НЕМУ ЕСТЬ JS) =================================================================================================

.touch-arrow {
	display: none;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 12px solid hsla(0, 0%, 100%, 0.5);
	transition: transform 0.3s ease 0s;

	@media (max-width: #{$md4+px}) {
		display: block;

		&._click_arrow {
			transform: rotate(180deg);
		}
	}
}

//=======================================================================================================
//* Кастомный скроллбар =================================================================
//! Переменные цвета ========================================================================================================================================================

//Ползунок цвет
$colorScrolIn: white;

// полоса прокрутки
$colorScrolOut: red;

//? синтаксис (без поддержки Firefox и IE)
.custom-scroll {
	//? ползунок
	&::-webkit-scrollbar-thumb {
		background-color: $colorScrolIn;
	}

	//? полоса прокрутки
	&::-webkit-scrollbar {
		width: 1px;
		background-color: $colorScrolOut;
	}
}

//? синтаксис поддержки Firefox и IE. в отличие от Webkit, мы не можем указывать числа,
//? будем оперировать со значениями auto и thin.
.custom-scroll {
	scrollbar-color: $colorScrolIn $colorScrolOut;
	scrollbar-width: thin;
}
