// Если вы используете препроцессор CSS, такой как Sass, вы можете сэкономить некоторые нажатия клавиш,
// используя функцию для генерации всех блоков, например:

// $placeholder: ('::-webkit-input-placeholder', ':-moz-placeholder',
// '::-moz-placeholder', ':-ms-input-placeholder', '::input-placeholder',
// '::placeholder');
// @each $selector in $placeholder {
//   #{$selector} {
//     font-style: italic;
//     font-size: 1em;
//     color: mintcream;
//     background: thistle;
//     padding: 5px;
//   }
// }

$placeholder: (
	"::-webkit-input-placeholder",
	":-moz-placeholder",
	"::-moz-placeholder",
	":-ms-input-placeholder",
	"::input-placeholder",
	"::placeholder"
);
@each $selector in $placeholder {
	#{$selector} {
		padding-left: 10px;
		font-size: 20px;
		font-weight: 400;
		font-style: italic;
		color: #929292;
	}
}
