//<МИКСИНЫ>===============================================================================================
@import "mixins";

//<Подключаем шрифты>=====================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";

//<Иконочные шрифты>=======================================================================================
@import "icons";
//<Шрифт по умолчанию>=====================================================================================
$fontFamily: "";

//!ПЕРЕМЕННЫЕ ЦВЕТА ========================================================================================

//!<ПЕРЕМЕННЫЕ>=============================================================================================
// высота шрифта браузера по умолчанию 16px
$default: 16;
// ширина минимального размера экрана
$minWidth: 320;
//  ширина макета 1920/16 = 120 em
$maxWidth: 1600;
// ширина определенного мною контейнера для коннтентной части
$maxWidthContainer: 1140;
// падинг на контейнер при уменьшении размерая экрана
$addPading: 7;

//<МЕДИА ЗАПРОСЫ  СЕТКА>=====================================================================================
$valueMd2: 1366; // md 2
$valueMd3: 1024; // md 3
$valueMd4: 768; // md 4
$valueMd5: 480; // md 5

$md1: ($maxWidthContainer + $addPading) / $default + em;
$md2: ($valueMd2 - 0.02) / $default + em;
$md3: ($valueMd3 - 0.02) / $default + em;
$md4: ($valueMd4 - 0.02) / $default + em;
$md5: ($valueMd5 - 0.02) / $default + em;

//<ОБНУЛЕНИЕ>===============================================================================================
@import "null";
//<ОСНОВНАЯ СЕТКА>=========================================================================================
// падинг на контейнер определен в переменных

._container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: rem($maxWidthContainer);

	@media (max-width: (($addPading * 2 + $maxWidthContainer) / $default + em )) {
		padding-left: #{$addPading + px};
		padding-right: #{$addPading + px};
		max-width: calc(#{rem($maxWidthContainer)} + #{rem($addPading)} + #{rem($addPading)});
	}
}

//<ОСНОВНАЯ СЕТКА>=========================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "popup";
@import "header";
@import "footer";
@import "home";

//<ОБОЛОЧКА>===========================================================================================================
body {
	//color: #000;
	&._lock {
		overflow: hidden;
	}
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
